%li.list-group-item
  .card-title
    %h1
      = announcement.title
      - if @current_user and @current_user.admin?
        = link_to 'Edit', edit_announcement_path(announcement), class: 'btn btn-sm btn-outline-secondary'
  .card-subtitle.text-secondary
    %small{'data-updated-at': announcement.updated_at}= "(updated #{time_ago_in_words(announcement.updated_at)} ago)"
  .card-text
    = markdown(announcement.body)
  - if announcement.file.attached?
    %h5.mt-2 Files
    = link_to announcement.file.filename, url_for(announcement.file)
