%tr
  %td.text-end= @numbering
  - @numbering+=1
  %td
    %strong
      = "#{problem.full_name}".gsub("_","_&ZeroWidthSpace;").html_safe
    .text-muted
      = "#{problem.name}"
      - if @current_user and @current_user.admin?
        = link_to '(stat)', stat_problem_path(problem)
    %div
      = link_to_description_if_any "[#{t 'main.problem_desc'}] <span class='mi mi-bs'>description</span>".html_safe, problem
  -# score column
  - score = @prob_submissions[problem.id][:max_score];
  - cc =  score == 100 ? 'bg-success' : 'bg-warning text-dark'
  %td{style: "width: 12em; vertical-align: middle", 'data-order': score}
    .progress
      .progress-bar{style: "width: #{score}%", class: cc}
        = number_with_precision score, precision: 2
  %td
    = render partial: 'submission_short',
      locals: {:submission => @prob_submissions[problem.id][:submission], :problem_name => problem.name, :problem_id => problem.id, sub_count: @prob_submissions[problem.id][:count], show_button: true }
  %td
    - if @prob_submissions[problem.id][:submission]
      = link_to 'Edit', edit_submission_path(@prob_submissions[problem.id][:submission]), class: 'btn btn-success'
    - else
      = link_to 'New', direct_edit_problem_submissions_path(problem.id), class: 'btn btn-success'
