- content_for :head do
  = javascript_include_tag "announcement_refresh"

= user_title_bar(@user)

.row
  .col-lg-7
    - if (GraderConfiguration.contest_mode?)
      .card.border-warning.mb-3
        .card-header.text-bg-warning.border-warning
          Contest
        .card-body
          %table#contest-table
            %thead
              %tr
                %th Contest
                %th Start
                %th Finish
                %th
            %tbody
              - @contests.each do |contest|
                %tr
                  %td= contest.name
                  %td= contest.start.strftime("%d-%b-%y %H:%m")
                  %td= contest.stop.strftime("%d-%b-%y %H:%m")
                  %td
                    - unless contest == @current_contest
                      Set active
    - if GraderConfiguration.show_submitbox_to?(@user)
      .card.border-primary
        .card-header.text-bg-primary
          Submission
        .card-body
          = render 'submission_box'
    - if GraderConfiguration.show_tasks_to?(@user)
      .mt-3
        = render partial: 'problem_list', locals: {problems: @problems, groups: @groups}
  .col-lg-5
    .card
      .card-header
        Announcement
        - if is_admin
          = link_to 'Manage', announcements_path, class: 'btn btn-secondary btn-sm'
      %ul.list-group.list-group-flush
        = render :partial => 'announcement', :collection => @announcements
-#
  %script{:type => 'text/javascript'}
    = "Announcement.refreshUrl = '#{url_for :controller => 'main', :action => 'announcements'}';".html_safe
    Announcement.registerRefreshEventTimer();

:javascript
  $(function() {
    $("#main_table").DataTable({
      columnDefs: [
        { targets: [3,4], sortable: false },
      ],
      paging: false,
      responsive: true,
      dom: "<'row'<'#prob-group.col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
        "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
    })

    $("#contest-table").DataTable({
      paging: false,
      responsive: true,
      layout: {
        topStart: null,
        topEnd: null,
        bottomStart: null,
      }
    })
  });

