%h1= GraderConfiguration['ui.front.title']

.row
  .col-md-6
    .card
      .card-header
        Announcement
        = link_to 'Manage', announcements_path, class: 'btn btn-secondary btn-sm'
      %ul.list-group.list-group-flush
        = render :partial => 'announcement', :collection => @announcements
  .col-md-4{style: "padding-left: 20px;"}
    = render :partial => 'login_box'
    = "current ip is #{@remote_ip}"
