%h1 Announcements

= link_to '+ Add announcement', new_announcement_path, class: 'btn btn-success'
%br

%table.table.table-striped
  %thead
    %th Updated
    %th Announcement
    %th Author
    %th{style: 'width: 100px'} Published?
    %th{style: 'width: 100px'}Front?
    %th
    %th
  - for announcement in @announcements
    %tr
      - @announcement = announcement
      %td= time_ago_in_words announcement.updated_at
      %td
        - if !announcement.title.blank?
          %b Title:
          = h announcement.title
          %br/
        - if !announcement.notes.blank?
          %b
            Notes: #{h announcement.notes}
          %br/
        = h announcement.body
      %td= h announcement.author
      %td
        .form-check.form-switch
          %input.form-check-input{id: "ann-#{announcement.id}-published-switch", checked: announcement.published, type: "checkbox", data: {action: 'announcement#toggle', id: announcement.id, field: 'published'}}
      %td
        .form-check.form-switch
          %input.form-check-input{id: "ann-#{announcement.id}-front-switch", checked: announcement.frontpage, type: "checkbox", data: {action: 'announcement#toggle', id: announcement.id, field: 'front'}}
      %td= link_to 'Edit', edit_announcement_path(announcement), class: 'btn btn-block btn-sm btn-info'
      %td= link_to 'Destroy', announcement, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-block btn-sm btn-danger"
%br

-# hidden form for announcement toggle
= form_with url: toggle_published_announcement_path(-123), html: {'data-announcement-target': 'togglePublishedForm',
  data: {turbo: true} } do
  /
= form_with url: toggle_front_announcement_path(-123), html: {'data-announcement-target': 'toggleFrontForm', data: {turbo: true}} do
  /
:javascript
  function set_announcement_switch(announcement_id,published,front) {
    document.getElementById(`ann-${announcement_id}-published-switch`).checked = published
    document.getElementById(`ann-${announcement_id}-published-switch`).disabled = false

    document.getElementById(`ann-${announcement_id}-front-switch`).checked = front
    document.getElementById(`ann-${announcement_id}-front-switch`).disabled = false

  }

