- if hint
  = simple_form_for hint, url: problem_hint_path(@problem,hint), wrapper: :horizontal_form, multipart: true do |f|
    .row{'data-controller': 'init-ui-component'}
      .col-12
        %h5.my-2 Hint Detail
        = f.input :title
        = f.input :body
        = f.input :cost, label: 'Full score cost (Problem cap)'
        = f.input :point_cost, label: 'Current points cost (Currency)'
        = f.input :all_points, label: 'Cost All Points', wrapper: :horizontal_boolean
        = f.button :submit, class: 'btn btn-primary me-2'
- else
  %em -- There is no hint for this problem. Click "Add" to add a hint. --
