.alert.alert-secondary
  .row.row-cols-lg-auto.g-3.align-items-center
    .col-12
      .form-check
        %label.form-check-label Select a dataset to view
    .col-12
      = simple_form_for :null, url: view_dataset_path(ds), data: {'problem-target': 'datasetSelectForm', turbo: 'true'},
        wrapper: :inline_form do |f|
        = f.input :dsid, collection: problem.datasets.reload, selected: ds.id, input_html: {class: 'form-select-sm form-select', data: {turbo: true, action: 'change->problem#viewDataset', 'problem-target': 'datasetSelect'}}, wrapper: :inline_form
        %input#dataset-select-active-tab{type: 'hidden', name: 'active_dataset_tab', value: @active_dataset_tab, data: {'bs-tab-target': 'activeTabInput', 'problem-target': 'activeTabInput'}}
    .col-12
      .form-check
        %label.form-check-label Action
    .col-12
      = link_to 'Add', add_dataset_problem_path(problem), data: {turbo: true, 'turbo-method': 'post'}, class: 'btn btn-success btn-sm mx-1'
      = link_to 'Set as live', set_as_live_dataset_path(ds), data: {turbo: true, 'turbo-method': 'post'}, class: 'btn btn-info btn-sm mx-1' if ds != problem.live_dataset
      = link_to 'Delete', dataset_path(ds), data: {turbo: true,
        'turbo-method': 'delete',
        turbo_confirm: "Really delete the dataset <code>#{ds.name}</code>?"}, class: 'btn btn-danger btn-sm mx-1'
      = link_to 'Rejudge', rejudge_dataset_path(ds), data: {turbo: true,
        'turbo-method': 'post',
        turbo_confirm: "Rejudge all #{problem.submissions.count} submissions of #{problem.name} using the dataset <code>#{ds.name}</code>?"}, 
        class: 'btn btn-warning btn-sm mx-1'
