= turbo_frame_tag :dataset_update, data: {turbo: true} do
  %div.mb-3
  - if local_assigns[:updated]
    .alert.alert-info.alert-dismissible
      = updated
      %button.btn-close{data: {'bs-dismiss': :alert}}
  .alert.alert-secondary
    .row.row-cols-lg-auto.g-3.align-items-center
      .col
        .form-check
          %label.form-check-label Select a dataset to view
      .col
        = simple_form_for :null, id: :ds_select_form, url: view_dataset_path(ds), wrapper: :inline_form do |f|
          = f.input :dsid, collection: ds.problem.datasets.reload, selected: ds.id, input_html: {class: 'form-select-sm form-select', onchange: 'ds_change()'}, wrapper: :inline_form
      .col
        .form-check
          %label.form-check-label Action
      .col
        = link_to 'Add', add_dataset_problem_path(ds.problem), data: {turbo: true, 'turbo-method': 'post'}, class: 'btn btn-success btn-sm'
        = link_to 'Set as live', set_as_live_dataset_path(ds), data: {turbo: true, 'turbo-method': 'post'}, class: 'btn btn-info btn-sm' if ds != ds.problem.live_dataset
        = link_to 'Delete', dataset_path(ds), data: {turbo: true,
          'turbo-method': 'delete',
          turbo_confirm: "Really delete the dataset [#{ds.name}]?"}, class: 'btn btn-danger btn-sm'
        = link_to 'Rejudge', rejudge_dataset_path(ds), data: {turbo: true,
          'turbo-method': 'post',
          turbo_confirm: "Rejudge all #{ds.problem.submissions.count} submissions of #{ds.problem.name} using the dataset [#{ds.name}]?"}, class: 'btn btn-warning btn-sm'
  .row
    .col-md-6
      %h4.my-2 Basic Info
      = simple_form_for ds, wrapper: :horizontal_form_half do |f|
        = f.input :name
        = f.input :time_limit
        = f.input :memory_limit
        = f.input :score_type, collection: Dataset.score_types.keys, wrapper: :horizontal_select_half
        = f.input :evaluation_type, collection: Dataset.evaluation_types.keys, wrapper: :horizontal_select_half
        = f.button :submit, class: 'btn-primary'
    .col-md-6
      = render partial: 'datasets/managers', locals: {ds: ds}
  %h4.mt-4 Testcases
  %table.datatable.table-hover
    %thead
      %tr
        %th #
        %th Codename
        %th Group
        %th Group Name
        %th Weight
        %th Action
    %tbody
      - last_group = nil
      - odd = true
      - ds.testcases.each.with_index do |tc,idx|
        - if tc.group != last_group
          - odd = !odd
          - last_group = tc.group
        %tr{class: (odd ? 'bg-secondary bg-opacity-25' : '')}
          %td
            = tc.num
          %td
            = tc.code_name
          %td
            = tc.group
          %td
            = tc.group_name
          %td
            = tc.weight
          %td
            [
            %span= link_to 'input', testcase_input_dataset_path(ds,tc), data: {turbo: true, 'turbo-method': 'post' }
            |
            %span= link_to 'output', testcase_sol_dataset_path(ds,tc), data: {turbo: true, 'turbo-method': 'post' }
            |
            %span= link_to 'delete', testcase_delete_dataset_path(ds,tc), data: {turbo: true, 'turbo-method': 'post', turbo_confirm: 'Really delete? This is very hard to undo' }
            ]
  :javascript
    if (typeof importmapScriptsLoaded !== 'undefined') {
      $('.datatable').DataTable({destroy: true, searching: false, paging: false})
    }

    //trigger turbo  action
    function ds_change() {
      $('#ds_select_form')[0].requestSubmit();
    }
