= turbo_frame_tag dom_id(ds, :manager), data: {turbo: true} do
  %h5.my-2 Managers
  - ds.managers.each do |mg|
    .row
      .col-md-6
        %span.bg-success-subtle.rounded.p-1.font-monospace= mg.filename
      .col-md-6
        [
        %span= link_to 'view', manager_view_dataset_path(ds,mg), data: {turbo: true, turbo_method: :post}
        |
        %span= link_to 'delete', manager_delete_dataset_path(ds,mg), data: {turbo: true, 'turbo-method': 'post', turbo_confirm: 'Really delete? This is very hard to undo' }
        ]
  - if ds.managers.count == 0
    %i -- none --
  .my-2
    - if local_assigns[:form]
      = form.input :managers, label: 'Add manager', wrapper: :horizontal_file
  - if ['custom_cafe','custom_cms'].include? ds.evaluation_type
    %h5.my-2 Checker
    - if ds.checker.attached?
      .row.mb-2
        .col-md-6
          %span.bg-warning-subtle.rounded.p-1.font-monospace= ds.checker.filename
        .col-md-6
          [
          %span= link_to 'view', checker_view_dataset_path(ds), data: {turbo: true, 'turbo-method': 'post' }
          |
          %span= link_to 'download', checker_download_dataset_path(ds), method: 'post'
          |
          %span= link_to 'delete', checker_delete_dataset_path(ds), data: {turbo: true, 'turbo-method': 'post', turbo_confirm: 'Really delete? This is very hard to undo' }
          ]
    - else
      .alert.alert-danger
        NO CHECKER!!
    - if local_assigns[:form]
      = form.input :checker, label: 'Set checker', wrapper: :horizontal_file
