.row.my-3.gx-3
  .col-md-6
    .card.shadow-sm
      .card-body
        = simple_form_for @contest, wrapper: :horizontal_form, html: {data: {turbo: false}} do |f|
          = f.error_notification
          = f.input :name
          = f.input :description
          = f.input :pre_contest_seconds
          .row.mb-3
            .col-md-3.col-form-label
              Start
            .col-md-7
              .input-group.td-date
                = f.text_field :start, value: @contest.start&.strftime("%d/%b/%Y %H:%M"), class: 'form-control'
                %span.input-group-text
                  %span.mi event
          .row.mb-3
            .col-md-3.col-form-label
              Stop
            .col-md-7
              .input-group.td-date
                = f.text_field :stop, value: @contest.stop&.strftime("%d/%b/%Y %H:%M"), class: 'form-control'
                %span.input-group-text
                  %span.mi event
          = f.input :post_contest_seconds
          = f.input :enabled
          = f.input :freeze
          = f.submit 'Update', class: 'btn btn-primary'
:javascript
  $(() => {
    start_datetime = new TempusDominus(document.getElementById('contest_start'), default_td_options );
    stop_datetime = new TempusDominus(document.getElementById('contest_stop'), default_td_options );
  })
