.row.mt-2
  .col-md-5
    .card.shadow-sm.mb-3
      .card-body
        %h3 System Mode
        .row
          .col
            .alert.text-center{class: "alert-#{mode_to_class}"}
              The system is in
              %strong
                = mode_to_text
                Mode
        .row.mb-2
          .col-auto.col-form-label
            Change mode to
          .col-auto.p-1
            = button_to "Normal", set_system_mode_contests_path, params: {mode: 'standard'}, class: 'btn btn-sm btn-outline-success'
          .col-auto.p-1
            = button_to "Contest", set_system_mode_contests_path, params: {mode: 'contest'}, class: 'btn btn-sm btn-outline-warning'
          -#
            .col-auto.p-1
              = button_to "Individual Contest", set_system_mode_contests_path, params: {mode: 'indv-contest'}, class: 'btn btn-sm btn-outline-warning'
          .col-auto.p-1
            = button_to "Analysis", set_system_mode_contests_path, params: {mode: 'analysis'}, class: 'btn btn-sm btn-outline-info'
        .row
          .col
            .alert.alert-info.markdown-content
              :markdown
                #### Device Session Lock

                This security feature limits a user to **one active login on a single computer or device** at a time. When a user logs in, a unique **Session Key** is saved to their browser and the server. All subsequent requests must match this key. Access is denied if the user tries to use a different machine.

                **Clearing the Lock**: Deleting the user's key from the server allows the next request from any device to establish a new locked session.

                  * The `Clear All Users Locks` button clears locks of all users.
                  * In each contest's management page. There is a button to to clear the lock for a single user or for all users of that specific contest.

              = link_to 'Clear All Users Locks', clear_user_ip_grader_configuration_index_path, class: 'btn btn-secondary m-1', data: {turbo: true, 'turbo-method': 'post'}
  .col-md-7
    .card.bg-warning-subtle.shadow-sm.mb-3
      .card-body.markdown-content
        :markdown
          #### How Contests Work
          A contest is a timed event, like an exam or competition, that challenges a specific group of users with a set of problems.

          * **Time-Bound:** Every contest must have a defined `Start Time` and `End Time`.
          * **Scoped Access:** Assign specific users and problems to isolate the contest environment.
          * **Live Monitoring:** Track user participation and score progression in real-time.
          * **Finalized Scoring:** Record official scores once the contest concludes.

          The entire system operates in one of two modes, which must be toggled by an Administrator.

          * **Normal Mode:** Problem visibility is determined by the user's **Group memberships**.
          * **Contest Mode:** Problem visibility is strictly limited to the probvlems within a user's assigned **active contest**. A contest is considered **active** if it is enabled and the current time is within its scheduled start and end times. This mode also applies several key restrictions to ensure fairness:
            * __Single Session Login__: Users can only be logged in from one browser session at a time.
            * __Disabled Features__: Access to pages like Submissions History and Hall of Fame is disabled. The ability for users to view problem test cases is turned off.

.card.shadow-sm{data: {controller: 'contest'}}
  .card-body{data: {
      controller: 'datatables--init init-ui-component',
      'datatables--init-config-name-value': 'contestIndex',
      'datatables--init-ajax-url-value': index_query_contests_path,
      action: 'datatable:reload@window->datatables--init#reload',
    }
  }
    %h3 Contests
    %p= link_to 'New contest', new_contest_path, class: 'btn btn-success'
    %table#contest_table.table.table-striped{'data-turbo': true}
      %thead
        %tr
          %th Name
          %th Description
          %th Enabled
          %th.text-center Finalized
          %th User:Problem
          %th Start
          %th End
          %th
          %th
          %th
  -# hidden contest action form
  = form_with url: contest_action_contests_path, html: {'data-contest-target': 'contestForm', id: 'do-contest-form',
    data: {turbo: true,
      'turbo-confirm': '.'}} do |f|
    = f.hidden_field :contest_id, 'data-contest-target': 'contestFormContestID'
    = f.hidden_field :command, 'data-contest-target': 'contestFormCommand'

