%h1 Listing contests
.infobox
  %b Go back to:
  [#{link_to 'contest management', :controller => 'contest_management', :action => 'index'}]
%p= link_to 'New contest', new_contest_path, class: 'btn btn-success'
%table.table.table-striped
  %tr
    %th Name
    %th Title
    %th Enabled
    %th
    %th
    %th

  - @contests.each do |contest|
    - @contest = contest
    %tr
      %td= @contest.name
      %td= @contest.title
      %td= @contest.enabled
      %td= link_to 'Show', contest
      %td= link_to 'Edit', edit_contest_path(contest)
      %td= link_to 'Destroy', contest, :confirm => 'Are you sure?', :method => :delete
%br/
