.row.mb-3
  .col-md-4
    .card.shadow-sm.mb-3
      .card-body
        %h3 System Mode
        .row
          .col
            .alert.text-center{class: "alert-#{mode_to_class}"}
              The system is in
              %strong
                = mode_to_text
                Mode
        .row
          .col-auto.col-form-label
            Change mode to
          .col-auto.p-1
            = button_to "Normal", set_system_mode_contests_path, params: {mode: 'standard'}, class: 'btn btn-sm btn-outline-success'
          .col-auto.p-1
            = button_to "Contest", set_system_mode_contests_path, params: {mode: 'contest'}, class: 'btn btn-sm btn-outline-warning'
          -#
            .col-auto.p-1
              = button_to "Individual Contest", set_system_mode_contests_path, params: {mode: 'indv-contest'}, class: 'btn btn-sm btn-outline-warning'
          .col-auto.p-1
            = button_to "Analysis", set_system_mode_contests_path, params: {mode: 'analysis'}, class: 'btn btn-sm btn-outline-info'
  .col-md-8
    = render partial: 'contest_help'

.card.shadow-sm{data: {controller: 'contest'}}
  .card-body{data: {
      controller: 'datatables--init init-ui-component',
      'datatables--init-config-name-value': 'contestIndex',
      'datatables--init-ajax-url-value': index_query_contests_path,
      action: 'datatable:reload@window->datatables--init#reload',
    }
  }
    %h3 Contests
    %p= link_to 'New contest', new_contest_path, class: 'btn btn-success'
    %table#contest_table.table.table-striped
      %thead
        %tr
          %th Name
          %th Description
          %th Enabled
          %th.text-center Finalized
          %th User:Problem
          %th Start
          %th End
          %th
          %th
          %th
  -# hidden contest action form
  = form_with url: contest_action_contests_path, html: {'data-contest-target': 'contestForm', id: 'do-contest-form',
    data: {turbo: true,
      'turbo-confirm': '.'}} do |f|
    = f.hidden_field :contest_id, 'data-contest-target': 'contestFormContestID'
    = f.hidden_field :command, 'data-contest-target': 'contestFormCommand'

