%h3 Contest management
.mb-3
  [
  = link_to "#{mdi(:arrow_back)} Back".html_safe, contests_path, class: 'mx-1'
  |
  = link_to "#{mdi(:summarize)} Watch".html_safe, view_contest_path(@contest), class: 'mx-1'
  ]
.row.my-3.gx-3
  .col-md-6
    .card.shadow-sm.my-1
      .card-body
        %h4 
          Contest Detail
        .row.mb-3
          = key_pair(obj: @contest, field: :name)
          = key_pair(obj: @contest, field: :description,width: 4)
          = key_pair(obj: @contest, field: :enabled, as: :yes_no)
          = key_pair(label: 'Start Time', value: @contest&.start&.strftime("%Y-%b-%d %H:%M"))
          = key_pair(label: 'Finish Time', value: @contest&.stop&.strftime("%Y-%b-%d %H:%M"))
          = key_pair(obj: @contest, field: :finalized, as: :yes_no)
        = link_to 'Edit', edit_contest_path(@contest), class: 'btn btn-primary me-2'
  .col-md-6
    .card.bg-warning-subtle.shadow-sm.my-1
      .card-body
        %h4 Tips
        :markdown
          * The site must be in the **Contest Mode** for a contest to be displayed to users
          * A contest is shown to users only if it is enabled and the current time falls within its start and stop time range.
          * When a contest is **finalized**, users cannot submit to the contest and the contests can no longer be modified.
.row.my-3{data: {controller: 'contest init-ui-component'}}
  .col-12
    .card.shadow-sm
      .card-body
        %ul.nav.nav-tabs.mb-3
          %li.nav-item
            %button.nav-link.active{data: {bs: {toggle: 'tab',target: '#tab-contest-user'},
              action: 'shown.bs.tab->contest#tabChange', table: {id: 'user_table',init: 'no'}}}
              %span.mi.mi-bs
                person
              Users
          %li.nav-item
            %button.nav-link{data: {bs: {toggle: 'tab',target: '#tab-contest-problem'}, 
              action: 'shown.bs.tab->contest#tabChange', table: {id: 'problem_table',init: 'no'}}}
              %span.mi.mi-bs
                task
              Problems
          %li.nav-item
            %button.nav-link{data: {bs: {toggle: 'tab',target: '#tab-add-users'},
              action: 'shown.bs.tab->contest#tabChange'}}
              %span.mi.mi-bs
                upload
              Import
        .tab-content
          -# ==========================================
          -# ---------- users pane ------------------
          -# ==========================================
          #tab-contest-user.tab-pane.fade.show.active{ data: {
            controller: 'datatables--init',
            'datatables--init-config-name-value': 'contestManageUser',
            'datatables--init-ajax-url-value': show_users_query_contest_path(@contest),
            action: 'datatable:reload@window->datatables--init#reload',
          }}

            .row
              .col-md-6
                %h5.mb-2.card-subtitle.text-body-secondary List of users in this contest
                .mb-2
                  Use following actions to add users to this contest.
                =form_tag add_user_contest_path(@contest), class: 'mb-1 form-inline', 
                  data: {turbo: true, action: 'turbo:submit-end->contest#afterUsersAdd'} do
                  .row.mb-1
                    .col-md-3
                      =label_tag :user_ids, "Add these users", class: 'col-form-label'
                    .col-md-7
                      =select_tag :user_ids, options_from_collection_for_select(User.all,'id','login_with_name'), class: 'select2', multiple: true, style: 'width: 100%';
                    .col-md-2
                      =submit_tag "Add", class: 'btn btn-primary my-1'
                =form_tag add_user_by_group_contest_path(@contest), class: 'mb-1 form-inline', 
                  data: {turbo: true, action: 'turbo:submit-end->contest#afterUsersAdd'} do
                  .row.mb-1
                    .col-md-3
                      =label_tag :user_group_ids, "Add all from groups", class: 'col-form-label'
                    .col-md-7
                      =select_tag :user_group_ids, options_from_collection_for_select(Group.all,'id','name'), class: 'select2', multiple: true, style: 'width: 100%';
                    .col-md-2
                      =submit_tag "Add", value: "Add", class: 'btn btn-primary my-1'
                -# hidden user action form
                = form_with url: do_user_contest_path, html: {'data-contest-target': 'userForm', id: 'do-user-form',
                  data: {turbo: true, 'turbo-confirm': 'placeholder'}} do |f|
                  = f.hidden_field :user_id, 'data-contest-target': 'userFormUserID'
                  = f.hidden_field :command, 'data-contest-target': 'userFormCommand'
                = form_with url: extra_time_user_contest_path, html: {'data-contest-target': 'userExtraTimeForm', id: 'extra-time-user-form',
                  data: {turbo: true}} do |f|
                  = f.hidden_field :row_id, 'data-contest-target': 'userExtraTimeFormRowID'
                  = f.hidden_field :start_offset, 'data-contest-target': 'userExtraTimeFormStart'
                  = f.hidden_field :end_offset, 'data-contest-target': 'userExtraTimeFormEnd'
                -# actions affecting all users buttons
                .row.mb-2
                  .col-md-3
                  .col-md-9
                    = button_to 'Enable All', do_all_users_contest_path(@contest), class: 'btn btn-primary m-1', value: 'enable', name: 'command',
                      form: {style: 'display: inline',data: {turbo: true}}
                    = button_to 'Disable All', do_all_users_contest_path(@contest), class: 'btn btn-primary m-1', value: 'disable', name: 'command',
                      form: {style: 'display: inline',data: {turbo: true}}
                    = button_to 'Remove All', do_all_users_contest_path(@contest), class: 'btn btn-danger m-1', value: 'remove', name: 'command',
                      form: {style: 'display: inline',data: {turbo: true,
                      'turbo-confirm': 'Really remove all users from the contest?'}}
                    = button_to 'Clear Session All', do_all_users_contest_path(@contest), class: 'btn btn-warning m-1', value: 'clear_ip', name: 'command',
                      form: {style: 'display: inline',data: {turbo: true}}
              .col-md-6
                -# help for GroupUser
                .card.bg-warning-subtle.shadow-sm
                  .card-body
                    :markdown
                      * If you want to add several users to a contest, use the #{mdi("upload")} Import tab.
                      * Only enabled users may access the contest.
            %table#user_table.table.datatable.table-hover
              %thead
                %tr
                  %th Login
                  %th Full name
                  %th Role (hidden)
                  %th Seat
                  %th Contest Remark
                  %th Extra Time (s)
                  %th.text-center Enable
                  %th Clear Session
                  %th Remove
                  %th Set Role
          -# ==========================================
          -# ---------- problem pane ------------------
          -# ==========================================
          #tab-contest-problem.tab-pane.fade{ data: {
            controller: 'datatables--init',
            'datatables--init-config-name-value': 'contestManageProblem',
            'datatables--init-ajax-url-value': show_problems_query_contest_path(@contest),
            action: 'datatable:reload@window->datatables--init#reload',
          }}
            .row
              .col-md-6
                %h5.mb-2.card-subtitle.text-body-secondary List of problems in this contest
                .mb-2
                  Use following actions to add problems to this contest.
                =form_tag add_problem_contest_path(@contest), class: 'mb-1 form-inline',
                  data: {turbo: true, action: 'turbo:submit-end->contest#afterProblemsAdd' } do
                  .row.mb-1
                    .col-md-3
                      =label_tag :problem_ids, "Problem",class: 'col-form-label'
                    .col-md-7
                      =select_tag :problem_ids, options_from_collection_for_select(@current_user.problems_for_action(:edit),'id','long_name'), class: 'select2', multiple: true, style: 'width: 100%';
                    .col-auto
                      =submit_tag "Add",class: 'btn btn-primary my-1', 'data-group-target': 'asdf'
                =form_tag add_problem_by_group_contest_path(@contest), class: 'mb-1 form-inline',
                  data: {turbo: true, action: 'turbo:submit-end->contest#afterProblemsAdd'} do
                  .row.mb-1
                    .col-md-3
                      =label_tag :problem_group_ids, "Add all from groups", class: 'col-form-label'
                    .col-md-7
                      =select_tag :problem_group_ids, options_from_collection_for_select(@current_user.groups_for_action(:edit),'id','name'), class: 'select2', multiple: true, style: 'width: 100%';
                    .col-md-2
                      =submit_tag "Add", value: "Add", class: 'btn btn-primary my-1'
                -# hidden problem action form
                = form_with url: do_problem_contest_path, html: {'data-contest-target': 'problemForm',
                  data: {turbo: true}} do |f|
                  = f.hidden_field :problem_id, 'data-contest-target': 'problemFormProblemID'
                  = f.hidden_field :command, 'data-contest-target': 'problemFormCommand'
              .col-md-6
                -# help for group problem
                .card.bg-warning-subtle.shadow-sm
                  .card-body
                    :markdown
                      * If you want to add multiple problems to a contest at once, you may find it easier to use the [Bulk Manage Problems](#{manage_problems_path}) page.
                      * A problem is only shown to users if it's **globally available** and **enabled** in the contest.
                      * The **LLM Assistant** can be enabled individually for each problem.
            .row
              .col-12
                %table#problem_table.table.datatable.table-hover
                  %thead
                    %tr
                      %th Number
                      %th Name
                      %th Full name
                      %th.text-center Global Available
                      %th.text-center Enable
                      %th.text-center Allow LLM
                      %th Action
          -# ==========================================
          -# ---------- import users ------------------
          -# ==========================================
          #tab-add-users.tab-pane.fade
            .row
              .col-md-6
                %h5.mb-2.card-subtitle.text-body-secondary Add users to the contest
                = form_with url: add_users_from_csv_contest_path(@contest), 
                  data: {turbo: true, action: 'turbo:submit-end->contest#afterUsersAdd'} do |f|
                  .row.align-items-center.mb-3
                    .col-auto
                      = f.submit 'Add following users',class: 'btn btn-primary'
                  .row.mb-3
                    .col-12
                      = f.text_area :user_list, value: nil, class: 'form-control', style: 'height: 30rem'
              .col-md-6
                .card.bg-warning-subtle.shadow-sm
                  .card-body.markdown-content
                    :markdown
                      Add or update users by providing a list of user logins in the text area below. Each user must be on a new line
                      and each line must follow this comma-separated format: `user_login[,contest_seat[,contest_remark]]`

                      * `contest_seat` and `contest_remark` are optional.
                      * `contest_remark` is a note specific to this user for this contest only (this does not change the user's main profile remark)

                      #### Updating Rules
                      * If a `user_id` already exists in the contest, their information will be updated.
                      * To update a user but keep their existing seat or remark, simply omit that field.

                      #### Example
                      * `user1` adds user1 to the contest. If they already exist, no changes are made.
                      * `user1,Room 403-8` adds user1 with the given seat. If user1 is already in the contest, seat will be updated but the existing remark is unchanged.
                      * `user1,,late entry` adds user1 with a blank seat and "late entry" remark, If user1 is already in the contest, the remark remark will be updated while the seat is set to blank.
