.row.my-3.gx-3
  .col-md-6
    .card.shadow-sm
      .card-body
        %h1 Edit contest
        = simple_form_for @contest, wrapper: :horizontal_form do |f|
          = f.error_notification
          = f.input :name
          = f.input :title
          = f.input :enabled
          = f.submit 'Update'
  .col-md-6
    .card.bg-warning-subtle
      .card-body
        .card-title
          What is a contest?
        asdf asdf
        asdf
.row.my-3{data: {controller: 'contest'}}
  .col-12
    .card
      .card-body
        %ul.nav.nav-tabs.mb-3
          %li.nav-item
            %button.nav-link.active{data: {bs: {toggle: 'tab',target: '#tab-group-user'}}}
              Users
          %li.nav-item
            %button.nav-link{data: {bs: {toggle: 'tab',target: '#tab-group-problem'}}}
              Problems
        .tab-content
          -# ==========================================
          -# ---------- users pane ------------------
          -# ==========================================
          #tab-group-user.tab-pane.fade.show.active
            .row
              .col-md-6
                %h5.mb-2.card-subtitle.text-body-secondary List of users in this group
                .mb-2
                  Use following actions to add users to this contest.
                =form_tag add_user_contest_path(@contest), class: 'mb-3 form-inline', data: {turbo: true} do
                  .row
                    .col-2
                      =label_tag :user_id, "User", class: 'col-form-label'
                    .col-6
                      =select_tag :user_id, options_from_collection_for_select(User.all,'id','login_with_name'), class: 'select2 form-control', multiple: true
                    .col-4
                      =submit_tag "Add",class: 'btn btn-primary'
                =form_tag add_user_contest_path(@contest), class: 'mb-3 form-inline', data: {turbo: true} do
                  .row
                    .col-2
                      =label_tag :user_group_id, "Group", class: 'col-form-label'
                    .col-6
                      =select_tag :user_group_id, options_from_collection_for_select(Group.all,'id','name'), class: 'select2 form-control', multiple: true
                    .col-4
                      =submit_tag "Add from group",class: 'btn btn-primary'
              .col-md-6
                -# help for GroupUser
                .alert.alert-warning.shadow-sm
                  %ul
                    %li
                      If you want to add several users to a group, it may be easier to just re-import the users in
                      = link_to 'New list of users', new_list_user_admin_index_path
                      page. You can also use
                      = link_to 'Bulk Manage User', bulk_manage_user_admin_index_path
                      page.
                    %li
                      Only enabled problems are shown to the enabled users of the group.
            = render partial: 'contest_users'
          -# ==========================================
          -# ---------- problem pane ------------------
          -# ==========================================
          #tab-group-problem.tab-pane.fade
            .row
              .col-md-6
                %h5.mb-2.card-subtitle.text-body-secondary List of problems in this contest
                .mb-2
                  Use following actions to add problems to this contest.
                =form_tag add_problem_contest_path(@contest), class: 'mb-3 form-inline', data: {turbo: true} do
                  .row
                    .col-2
                      =label_tag :problem_id, "Problem", class: 'col-form-label'
                    .col-6
                      =select_tag :problem_id, options_from_collection_for_select(Problem.all,'id','long_name'), class: 'select2 form-control', multiple: true
                    .col-4
                      =submit_tag "Add",class: 'btn btn-primary'
                =form_tag add_problem_contest_path(@contest), class: 'mb-3 form-inline', data: {turbo: true} do
                  .row
                    .col-2
                      =label_tag :problem_group_id, "Group", class: 'col-form-label'
                    .col-6
                      =select_tag :problem_group_id, options_from_collection_for_select(Group.all,'id','name'), class: 'select2 form-control', multiple: true
                    .col-4
                      =submit_tag "Add from groups",class: 'btn btn-primary'
              .col-md-6
                -# help for group problem
                .alert.alert-warning.shadow-sm
                  %ul
                    %li
                      If you want to add several problem to a group, it may be easier to bulk manage them in the
                      = link_to 'Bulk Manage Problems', manage_problems_path
                      page.
                    %li
                      Only enabled problems are shown to the enabled users of the group.
            .row
              .col-12
                = render partial: 'contest_problems'

%div{'data-controller': 'hello'}

:javascript
  function reload_table() {
    $('#user_table').DataTable({
      destroy: true,
      paging: false,
      order: [[0,'asc']],
    })
    $('#problem_table').DataTable({
      destroy: true,
      paging: false,
    })
  }

  function clear_user_form() {
    $('#user_group_id').val(null).trigger('change')
    $('#user_id').val(null).trigger('change')
  }

  function clear_problem_form() {
    $('#problem_group_id').val(null).trigger('change')
    $('#problem_id').val(null).trigger('change')
  }

  $(function() {
    reload_table();
  });
