= turbo_frame_tag :import_dataset_into_problem, data: {turbo: true} do
  %h4 Import testcases into this problem
  - if @errors
    .alert.alert-danger
      There are following errors
      %ul
        - @errors.each do |msg|
          %li= msg
  - if local_assigns[:updated]
    .alert.alert-info.alert-dismissible
      = updated
      %button.btn-close{data: {'bs-dismiss': :alert}}

  .row
    .col-sm-12
      = simple_form_for :import, url: import_testcases_problem_path(problem), html: {multipart: true}, wrapper: :horizontal_form do |f|
        = f.input :file, label: 'ZIP file', as: :file, wrapper: :horizontal_file
        = f.input :input_pattern, input_html: { value: '*.in' }
        = f.input :sol_pattern, input_html: { value: '*.sol' }
        = f.input :target, label: "Import to dataset",  collection: [['As a new dataset','new'],['Into the selected dataset','replace']], checked: :new,  as: :radio_buttons, wrapper: :horizontal_collection, input_html: {onclick: 'update_import_target()'}
        = f.input :dataset, collection: problem.datasets, selected: problem.live_dataset, wrapper: :horizontal_select
        = f.button :submit, value: 'Import', class: 'btn-primary'
  - if @log
    .row
      .col-sm-12
        %h4 Import log
        %pre.import-log
          = @log.join("\n")

:javascript
  function update_import_target() {
    $('#import_dataset').prop('disabled',
      $('input[name="import[target]"]:checked').val() == 'new'
    );
  }

  update_import_target()
