.row
  .col-md-5
    .card
      .card-body
        = simple_form_for problem, wrapper: :horizontal_form do |form|
          %h4 Basic Information
          = form.input :name
          = form.input :full_name
          = form.input :tag_ids, label: 'Tags', collection: Tag.all, input_html: {class: 'select2', multiple: true}, wrapper: :horizontal_form, tooltip: "Tags with public value of true will be shown to contestant in the main page"
          = form.input :group_ids, label: 'Groups', collection: Group.all, input_html: {class: 'select2', multiple: true}, wrapper: :horizontal_form
          = form.input :permitted_lang, label: 'Allowed Language', collection: Language.all, selected: @permitted_lang_ids, input_html: {class: 'select2', multiple: true}, wrapper: :horizontal_form, tooltip: 'Blank value means any language can be used'
          = form.input :date_added, input_html: {value: nil}, wrapper: :horizontal_form, as: :string, tooltip: 'Date added is use as a main sorting order for problems in the main page'
          = form.input :available, wrapper: :horizontal_boolean
          = form.input :difficulty, tooltip: 'Input integer value from 0 to 10'
          = form.input :compilation_type, collection: [['[Self Contained] The submissions can be compiled by itself','self_contained'],['[With managers] The submission will be compiled with the managers','with_managers']], wrapper: :horizontal_select
          = form.input :submission_filename
          %h4 Statements
          = form.input :statement, wrapper: :horizontal_file
          .row
            .col-md-3
            .col-md-9
              %p
                - if @problem.statement.attached?
                  %a{href: get_statement_problem_path(@problem)} [Download current Statement]
                  |
                  = link_to '[delete]', statement_problem_path(@problem), method: :delete, data: {confirm: 'Are you sure?'}
                - else
                  This problem has no statement
          = form.input :description, as: :text
          = form.input :markdown, wrapper: :horizontal_boolean
          = form.input :url
          %h4 Attachment
          = form.input :attachment, wrapper: :horizontal_file
          .row
            .col-md-3
            .col-md-9
              %p
                - if @problem.attachment.attached?
                  %a{href: get_attachment_problem_path(@problem)} [Download attachment]
                  |
                  = link_to '[delete]', attachment_problem_path(@problem), method: :delete, data: {confirm: 'Are you sure?'}
                - else
                  This problem has no attachment
          = form.button :submit, class: 'btn btn-primary mx-2'
          = link_to 'Back', problems_path, class: 'btn btn-outline-secondary mx-2'
          = link_to 'Stat', stat_problem_path(@problem), class: 'btn btn-outline-secondary mx-2'
  .col-md-7
    .card
      .card-body
        %h4 Datasets
        %ul.nav.nav-tabs
          %li.nav-item
            %button.nav-link{href: '#', class: 'active', data: {bs: {toggle: :tab, target: "#dataset"}}} Dataset
          %li.nav-item
            %button.nav-link{href: '#', data: {bs: {toggle: :tab, target: "#upload"}}} Import
        .tab-content
          %div#dataset.tab-pane.fade.show.active
            %div.mb-3
            = render partial: "datasets/form", locals: {ds: @problem.live_dataset}
          %div#upload.tab-pane.fade
            %div.mb-3
            = render partial: "ds_import", locals: {problem: @problem}
:javascript
  $(document).on('import-map-loaded',function(e) {
    $('.datatable').DataTable({destroy: true, searching: false, paging: false})
    td_options = structuredClone(default_td_date_options)
    td_options['localization']['format'] = 'dd/MM/yyyy'
    td_options['defaultDate'] = "#{problem.date_added&.strftime("%d/%m/%Y")}"
    new TempusDominus(document.getElementById('problem_date_added'), td_options );
  });
