- if hint
  = simple_form_for hint, url: update_hint_problem_path(@problem,hint), wrapper: :horizontal_form, multipart: true do |f|
    .row{'data-controller': 'bs-init-tooltip'}
      .col-12
        %h5.my-2 Hint Detail
        = f.input :title
        = f.input :body
        = f.input :cost
        = f.input :kind
        = f.button :submit, class: 'btn-primary'
- else
  "-- currently there is no hint --"
