- hints = problem.comments_with_reveal_status(@current_user,kind: [:hint])
- if hints.any?
  - hints.each do |hint|
    .row.mb-2
      .col-5
        .badge.rounded-pill.text-success.bg-success-subtle.me-2 Hint
        #{hint.title}
      .col-7.text-end.d-flex.justify-content-end.align-items-center.gap-1.flex-nowrap
        -# view the hint
        - if hint.is_acquired?
          = link_to 'View', problem_hint_path(problem,hint), data: {turbo_stream: true}, class: 'btn btn-sm btn-outline-success', style: 'min-width: 60px;'
        - else
          - fs_cost = number_with_precision(hint.cost || 0, precision: 2, strip_insignificant_zeros: true)
          - p_cost = hint.all_points ? "All" : number_with_precision(hint.point_cost || 0, precision: 2, strip_insignificant_zeros: true)
          - rate = hint.success_rate || 100.0
          - can_buy = hint.acquirable_by?(@current_user)
          
          %span.text-muted.small.d-flex.align-items-center.gap-1{title: "Points: #{p_cost}, Cap: #{fs_cost}#{rate < 100.0 ? ", Rate: #{rate}%" : ""}"}
            %span{title: 'Points Cost'} 💰#{p_cost}
            %span{title: 'Score Cap'} 📉#{fs_cost}
            - if rate < 100.0
              %span{title: 'Success Rate'} 🎲#{number_with_precision(rate, precision: 2, strip_insignificant_zeros: true)}%
          
          - if !can_buy
            %button.btn.btn-sm.btn-secondary{disabled: true, style: 'min-width: 60px;'} Get
          - else
            - body_text = render partial: 'problems/acquire_hint_confirm', locals: {hint: hint}
            - confirmation = {title: "Confirm getting a hint", body: body_text}
            = link_to 'Get', acquire_problem_hint_path(problem,hint), data: {turbo_stream: true, turbo_method: 'POST', turbo_confirm: confirmation.to_json}, class: 'btn btn-sm btn-outline-primary', style: 'min-width: 60px;'
- else
  .row
    .col
      %em.text-muted.small -- There is no hint for this problem --
