%strong
  = "#{problem.full_name}".gsub("_","_&ZeroWidthSpace;").html_safe
  %span{style: 'color: var(--bs-orange)'}= render_star(problem.difficulty)
.text-muted
  = "#{problem.name}"
%div
  = link_to_description_if_any "Read <span class='mi mi-bs md-18'>description</span>".html_safe, problem, cxlass: 'badge text-bg-primary'
  - if problem.attachment.attached?
    |
    = link_to "Files <span class='mi mi-bs md-18'>archive</span>".html_safe, get_attachment_problem_path(problem)
