%h1 Import problems result

%p
  %b Problem:
  = "#{@problem.full_name} (#{@problem.name})"

%p
  = link_to 'Edit the problems', edit_problem_path(@problem), class: 'btn btn-outline-primary'
  = link_to 'Import another problems', import_problems_path, class: 'btn btn-outline-secondary'
  = link_to 'Problem list', problems_path, class: 'btn btn-outline-secondary'

%h3 Import log
%pre.import-log
  = @log.join("\n")
