%span= render partial: 'problems/problem_head', locals: {problem: @problem, prefix: 'Edit Problem'}

.mb-3.d-flex.gap-1.align-items-center.align-middle
  [
  = link_to mdi(:arrow_back) + "Back", problems_path, class: 'mx-1 gap-1 d-flex align-items-center text-decoration-none'
  |
  = link_to mdi(:finance) + 'Stat', stat_problem_path(@problem), class: 'mx-1 gap-1 d-flex align-items-center text-decoration-none'
  |
  = link_to mdi(:download) + 'Download', download_archive_problem_path(@problem), class: 'mx-1 gap-1 d-flex align-items-center text-decoration-none'
  ]
.row
  -# problem card
  .col-md-5
    .card.shadow-sm.my-2
      .card-body
        %h4 Detail
        = render 'form', problem: @problem
  -# dataset card
  .col-md-7
    .card.shadow-sm.my-2
      .card-body{'data-controller': 'bs-tab'}
        %h4 Datasets
        -# dataset selector
        = turbo_frame_tag :dataset_select do
          = render partial: 'datasets/dataset_select', locals: {ds: @problem.live_dataset, problem: @problem}
        -# dataset form
        = turbo_frame_tag :dataset, src: edit_dataset_path(@problem.live_dataset), data: {'problem-target': 'dataset', 'current-id': @problem.live_dataset.id}
