- content_for :head do
  = stylesheet_link_tag 'problems'

%h1 Import problems

%p= link_to '[Back to problem list]', problems_path

- if @errors
  -# show errors
  .alert.alert-danger
    There are following errors
    %ul
      - @errors.each do |msg|
        %li= msg

.row
  .col-md-4
    = simple_form_for :problem, url: do_import_problems_path, html: {multipart: true}, wrapper: :horizontal_form do |f|
      = f.input :name
      = f.input :full_name
      = f.input :time_limit, required: false
      = f.input :memory_limit, required: false
      .card.mb-2
        .card-body
          %h5.card-title Dataset
          = f.input :file, label: 'ZIP file', as: :file, wrapper: :horizontal_file
          = f.input :input_pattern, input_html: { value: '*.in' }
          = f.input :sol_pattern, input_html: { value: '*.sol' }
          = f.input :replace, label: 'replace all existing datasets of this problem', as: :boolean, wrapper: :horizontal_boolean
      = f.button :submit, class: 'btn-primary'
  .col-md-8


- if @log
  %h3 Import log
  %pre.import-log
    = @log
