%h2 Import problems

- if @errors
  -# show errors
  .alert.alert-danger
    There are following errors
    %ul
      - @errors.each do |msg|
        %li= msg.html_safe

.row
  .col-md-6
    = simple_form_for :problem, url: do_import_problems_path, html: {multipart: true}, wrapper: :horizontal_form do |f|
      = f.input :name
      = f.input :full_name
      = f.input :time_limit, required: false
      = f.input :memory_limit, required: false
      = f.input :groups, collection: @current_user.groups_for_action(:edit), label_method: :name, value_method: :id, input_html: {class: 'select2'}, include_blank: @allow_blank_group, style: 'width: 100%', wrapper: :horizontal_select
      .card.mb-2
        .card-body
          %h5.card-title Dataset
          = f.input :file, label: 'ZIP file', as: :file, wrapper: :horizontal_file
          = f.input :input_pattern, input_html: { value: '*.in' }
          = f.input :sol_pattern, input_html: { value: '*.sol' }
          = f.input :replace, label: 'replace all existing datasets of this problem', as: :boolean, wrapper: :horizontal_boolean
      = f.button :submit, class: 'btn-primary'
  .col-md-6
    .card.bg-warning-subtle.mt-2
      .card-body
        .card-title
          %h4
            Usage
            .mi.mi-bs.fill help
          %ul
            %li
              Upload a ZIP file to create a new problem with your specified name. 
              If a problem with that name already exists, the system will add the ZIP content as 
              a new dataset within the existing problem, rather than replacing it.
            %li
              You can assign newly imported problems to a specific group by setting the
              %strong Groups
              property.

        %h5.my-2 Zip File Format
        %ul
          %li
            The zip file should have multiple testcases where each testcase 
            are pair of files with the same filename but different extension
            where
            %span.rounded.bg-light.p-1.font-monospace .in
            is for input and
            %span.rounded.bg-light.p-1.font-monospace .sol
            is for output.

          %li
            Any
            %span.rounded.bg-light.p-1.font-monospace .pdf
            file will be used as a statement of the problem.
          %li
            Example: A zip file that contains
            %span.rounded.bg-light.p-1.font-monospace 1.in
            ,
            %span.rounded.bg-light.p-1.font-monospace 1.sol
            ,
            %span.rounded.bg-light.p-1.font-monospace 2.in
            and
            %span.rounded.bg-light.p-1.font-monospace 2.sol
            will have a new dataset consisting of two testcases: one with the input and output of 
            %span.rounded.bg-light.p-1.font-monospace 1.in
            and
            %span.rounded.bg-light.p-1.font-monospace 1.sol
            and another one with
            %span.rounded.bg-light.p-1.font-monospace 2.in
            and
            %span.rounded.bg-light.p-1.font-monospace 2.sol
          %li
            Zip file may contain many more files, see
            %a{href: '#'} the wiki
            for more detail.


- if @log
  %h3 Import log
  %pre.import-log
    = @log
