%h1 Manage problems

%p= link_to '[Back to problem list]', problems_path

- if @result && @result.count > 0
  .alert.alert-info
    %ul.mb-0
      - @result.each do |r|
        %li= r
- if @error && @error.count > 0
  .alert.alert-danger
    %ul.mb-0
      - @error.each do |r|
        %li= r

= form_with url: manage_problems_path, class: 'align-items-center' do |f|
  .card.border-primary.mb-2
    .card-header.text-bg-primary.border-primary
      Action
    .card-body
      What do you want to do to the selected problem?
      %br/
      (You can shift-click to select a range of problems)
      .row
        .col-md-6
          .row.my-3.align-items-center
            .col-md-auto
              .form-check
                = f.label :change_date_added, 'Change "Date added" to'
                = f.check_box :change_date_added, class: 'form-check-input'
            .col-md-auto
              = f.text_field :date_added, class: 'form-control'
          .row.mb-3.align-items-center
            .col-md-auto
              .form-check
                = f.label :change_enable, 'Set "Available" to'
                = f.check_box :change_enable, class: 'form-check-input'
            .col-md-auto
              = f.radio_button :enable, "yes", class: 'form-check-input'
              = f.label :enable_yes, "yes"
            .col-md-auto
              = f.radio_button :enable, "no", class: 'form-check-input'
              = f.label :enable_no, "no"
        .col-md-6
          .row.mb-3.align-items-center
            .col-md-auto
              .form-check
                = f.label :add_group, 'Add to groups'
                = f.check_box :add_group, class: 'form-check-input'
            .col-md-auto
              = f.select "group_id", options_from_collection_for_select( Group.all, 'id','name',params[:group_name]), {}, class: 'select2 form-control', multiple: true, data: {width: "400px", placeholder: 'Click to select groups'}
          .row.mb-3.align-items-center
            .col-md-auto
              .form-check
                = f.label :add_tags, 'Add tags'
                = f.check_box :add_tags, class: 'form-check-input'
            .col-md-auto
              = f.select "tag_ids", options_from_collection_for_select( Tag.all, 'id','name'), {},class: 'select2', multiple: true, data: {placeholder: 'Select tags by clicking', width: "400px"}
          .row.mb-3.align-items-center
            .col-md-auto
              .form-check
                = f.label :set_languages, 'Set permitted languages'
                = f.check_box :set_languages, class: 'form-check-input'
            .col-md-auto
              = f.select "lang_ids", options_from_collection_for_select( Language.all, 'id','name',params[:group_name]), {}, class: 'select2 form-control', multiple: true, data: {width: "400px", placeholder: 'Click to select languages'}
          - if GraderConfiguration.multicontests?
            .row.mb-3.align-items-center
              .col-md-auto
                .form-check
                  = f.label :add_contest, 'Add selected problems to contest'
                  = f.check_box :add_contest, class: 'form-check-input'
              .col-md-auto
                = f.select "contest_id", options_from_collection_for_select( Contest.all, :id,:title), {}, class: 'select2 form-control'
      .row.mb-3
        .col-auto
          = f.submit :go, class: 'btn btn-primary'

  %table.table.table-hover.datatable
    %thead
      %tr{style: "text-align: left;"}
        %th= check_box_tag 'select_all'
        %th Name
        %th Full name
        %th Permitted Languages
        %th Tags
        %th Available
        %th Date added
        - if GraderConfiguration.multicontests?
          %th Contests

    %tbody
      - num = 0
      - for problem in @problems
        - num += 1
        %tr{:id => "row-prob-#{problem.id}", :name=> "prob-#{problem.id}"}
          %td= check_box_tag "prob-#{problem.id}-#{num}"
          %td= problem.name
          %td= problem.full_name
          %td
            - (problem.permitted_lang || '').split(' ').each do |l_name|
              %span.badge.text-bg-secondary= l_name
          %td
            - problem.tags.each do |t|
              %span.badge.text-bg-secondary= t.name
          %td= problem.available
          %td= problem.date_added
          - if GraderConfiguration.multicontests?
            %td
              - problem.contests.each do |contest|
                = "(#{contest.name} [#{link_to 'x', :action => 'remove_contest', :id => problem.id, :contest_id => contest.id }])"

:javascript

  $(function() {
    function shiftclick(start,stop,value) {
      $('tr input').each( function(id,input) { 
        var $input=$(input);
        var iid=parseInt($input.attr('id').split('-')[2]);
        if(iid>=start&&iid<=stop){
        $input.prop('checked',value)
        }
      });
    }

    $('tr input').click( function(e)  {
      if (e.shiftKey) {
        stop = parseInt($(this).attr('id').split('-')[2]);
        var orig_stop = stop
        if (typeof start !== 'undefined') {
          if (start > stop) {
            var tmp = start;
            start = stop;
            stop = tmp;
          }
          shiftclick(start,stop,$(this).is(':checked') )
        }
        start = orig_stop
      } else {
        start = parseInt($(this).attr('id').split('-')[2]);
      }
    });

    $('.datatable').DataTable({
      paging: false
    });
    $('.select2').select2();


    td = new TempusDominus(document.getElementById('date_added'), {
      display: {
        icons: {
          time: 'mi mi-td-time',
          date: 'mi mi-td-date',
          up: 'mi mi-td-up',
          down: 'mi mi-td-down',
          previous: 'mi mi-td-previous',
          next: 'mi mi-td-next',
          today: 'mi mi-td-today',
          clear: 'mi mi-td-clear',
          close: 'mi mi-td-close',
        },
        components: {
          hours: false,
          minutes: false,
          seconds: false
        }
      },
      localization: {
        locale: 'en-uk',
        format: 'dd/MMM/yyyy'
        //dateFormats: 'dd-MM-yyyy',
      }
    });

  });
