:css
  .fix-width {
    font-family: "Consolas, Monaco, Droid Sans Mono,Mono, Monospace,Courier"
  }

%h1 Problem stat: #{@problem.name}

.row.mb-3
  .col-md-8
    .card
      .card-body
        %h2.card-title Submission History
        %canvas#chart{height: '50px'}

  .col-md-4
    .card
      .card-body
        %h2.card-title General Info
        .row
          .col-sm-6
            Name
          .col-sm-6
            = @problem.full_name #in_place_editor_field :problem, :full_name, {}, :rows=>1
            = link_to_description_if_any "[#{t 'main.problem_desc'}] <span class='glyphicon glyphicon-file'></span>".html_safe, @problem
        .row
          .col-sm-6
            Subs
          .col-sm-6
            = @submissions.count
        .row
          .col-sm-6
            Solved/Attempted User
          .col-sm-6
            #{@summary[:solve]}/#{@summary[:attempt]} (#{(@summary[:solve]*100.0/@summary[:attempt]).round(1)}%)

%h2 Submissions
- if @submissions and @submissions.count > 0
  %table#main_table.table.table-condensed.table-striped
    %thead
      %tr
        %th ID
        %th Login
        %th Name
        %th Submitted_at
        %th language
        %th Points
        %th comment
        %th IP
    %tbody
      - row_odd,curr = true,''
      - @submissions.each do |sub|
        - next unless sub.user
        - row_odd,curr = !row_odd, sub.user if curr != sub.user
        %tr
          %td= link_to sub.id, submission_path(sub)
          %td= link_to sub.user.login, stat_user_path(sub.user)
          %td= sub.user.full_name
          %td{data: {order: sub.submitted_at}}= time_ago_in_words(sub.submitted_at) + " ago"
          %td= sub.language.name
          %td= sub.points
          %td.fix-width= sub.grader_comment
          %td= sub.ip_address
- else
  No submission

:javascript
  $(document).on('import-map-loaded',(e) => {
    //init datatable
    $("#main_table").DataTable({
      paging: false
    });

    //history graph
    data = #{@chart_dataset}
    config = {
      type: 'bar',
      data: data,
      options: {
        plugins: {
          legend: {
            display: false
          },
        },
      }
    }
    Chart.defaults.font.size = 15
    //Chart.defaults.font.family = 'Sarabun Light'
    chart = new Chart($('#chart'),config)
  });

