%h1
  User stats
  - if @contest
    %span.text-body-tertiary.fs-2
      %i (for Contest #{@contest.name})

.row.my-3
  .col-md-8
    .card
      .card-body
        %h2.card-title Submission History
        %canvas#chart{height: '50px'}

  .col-md-4
    .card
      .card-body
        %h2.card-title General Info
        .row
          .col-sm-6.text-secondary.text-end
            Login
          .col-sm-6
            = @user.login
            - if @contest
              = link_to "(view full stat)", stat_user_admin_path(@user)
        .row
          .col-sm-6.text-secondary.text-end
            Full name
          .col-sm-6
            = @user.full_name
        .row
          .col-sm-6.text-secondary.text-end
            Subs
          .col-sm-6
            = @summary[:count]
        .row
          .col-sm-6.text-secondary.text-end
            Solved/Attempted Problem
          .col-sm-6
            #{@summary[:solve]}/#{@summary[:count]} (#{(@summary[:solve]*100.0/@summary[:count]).round(1)}%)
        -# contest info (if exists)
        - if @contest
          .row
            .col
              %hr
          .row
            .col-sm-6.text-secondary.text-end
              Contest
            .col-sm-6
              = @contest.name
          .row
            .col-sm-6.text-secondary.text-end
              Start
            .col-sm-6
              = @contest.start.strftime("%Y-%m-%d %H:%M")
          .row
            .col-sm-6.text-secondary.text-end
              Stop
            .col-sm-6
              = @contest.stop.strftime("%Y-%m-%d %H:%M")


%table#main_table.table.table-striped
  %thead
    %tr
      %th ID
      %th Problem code
      %th Problem full name
      %th Language
      %th Submitted at
      %th Result
      %th Score
      - if session[:admin]
        %th IP
  %tbody
    - @submission.each do |s|
      - next unless s.problem
      %tr
        %td= link_to s.id, submission_path(s)
        %td= link_to s.problem.name, stat_problem_path(s.problem)
        %td= s.problem.full_name
        %td= s.language.pretty_name
        %td{data: {order: s.submitted_at}}
          #{s.submitted_at.strftime('%Y-%m-%d %H:%M')} 
          %span.text-secondary (#{time_ago_in_words(s.submitted_at)} ago)
        %td.grader-comment= s.grader_comment
        %td.text-end= s.points
        - if session[:admin]
          %td= s.ip_address



:javascript

  window.addEventListener("load", function() {
    //init datatable
    $("#main_table").DataTable({
      paging: false
    });

    //history graph
    data = #{@chart_dataset}
    config = {
      type: 'bar',
      data: data,
      options: {
        plugins: {
          legend: {
            display: false
          },
        },
      }
    }
    Chart.defaults.font.size = 15
    //Chart.defaults.font.family = 'Sarabun Light'
    chart = new Chart($('#chart'),config)
  });

