.row
  .col-md-6
    = simple_form_for @group do |f|
      = f.input :name
      = f.input :description
      - if @current_user.admin?
        = f.input :enabled, disabled: @current_user.admin? == false
      - else
        = f.input :enabled, label: 'Enabled (group editor cannot modify Enabled field)', disabled: true
      = f.button :submit, class: 'btn btn-primary'
      - if @group.id
        = link_to 'Back', group_path(@group), class: 'btn btn-outline-secondary mx-2'
      - else
        = link_to 'Back', groups_path, class: 'btn btn-outline-secondary mx-2'
