.row
  .col-md-4
    %h1 Groups
    %p
      = link_to 'New Group', new_group_path, class: 'btn btn-success'
  .col-md-8
    = render partial: 'group_help'

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th Enabled?
      %th
  %tbody
    - @groups.each do |group|
      %tr{:class => "#{(group.enabled?) ? "success" : "danger"}", id: "group-#{group.id}"}
        %td= group.name
        %td= group.description
        %td= toggle_button(group.enabled?, toggle_group_path(group), "group-enabled-#{group.id}", block: ' ')
        %td
          = link_to 'Edit members and problems', group, class: 'btn btn-info btn-sm'
          = link_to 'Destroy', group, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'

%br

