.container-fluid
  .row
    .col-md-6
      %h1 Group #{@group.name}
  .row
    .col-md-6
      %b Description:
      = @group.description
      %br
      = link_to 'Edit', edit_group_path(@group), class: 'btn btn-primary'
  .row
    .col-md-12
      %h1 Group details
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          .panel-title Users in this group
        .panel-body
          %ul
            %li
              If you want to add several users to a group, it may be easier to just re-import those users in 
              = link_to 'New list of users', new_list_user_admin_index_path
              page. You can also use 
              = link_to 'Bulk Manage User', bulk_manage_user_admin_index_path
              page.
          =form_tag add_user_group_path(@group), class: 'form-inline' do
            .form-group
              =label_tag :user_id, "User"
              =select_tag :user_id, options_from_collection_for_select(User.all,'id','full_name'), class: 'select2', style: 'width: 10em';
            =submit_tag "Add",class: 'btn btn-primary'


          %table.table.table-hover
            %thead
              %tr
                %th Login
                %th Full name
                %th Remark
                %th= link_to 'Remove All', remove_all_user_group_path(@group), method: :delete, :data => { :confirm => "Remove ALL USERS from group?" }, class: 'btn btn-danger btn-sm'

            %tbody
              - @group.users.each do |user|
                %tr
                  %td= user.login
                  %td= user.full_name
                  %td= user.remark
                  %td= link_to 'Remove', remove_user_group_path(@group,user), :method => :delete, :data => { :confirm => "Remove #{user.full_name}?" }, class: 'btn btn-danger btn-sm'
    .col-md-6
      .panel.panel-default
        .panel-heading
          .panel-title Problems
        .panel-body
          %ul
            %li
              If you want to add several problem to a group, it may be easier to bulk manage them in the
              = link_to 'Bulk Manage Problems', manage_problems_path
              page
          =form_tag add_problem_group_path(@group), class: 'form-inline' do
            .form-group
              =label_tag :problem_id, "Problem"
              =select_tag :problem_id, options_from_collection_for_select(Problem.all,'id','full_name'), class: 'select2', style: 'width: 10em';
            =submit_tag "Add",class: 'btn btn-primary'


          %table.table.table-hover
            %thead
              %tr
                %th name
                %th Full name
                %th Full score
                %th= link_to 'Remove All', remove_all_problem_group_path(@group), method: :delete, :data => { :confirm => "Remove ALL PROBLEMS from group?" }, class: 'btn btn-danger btn-sm'

            %tbody
              - @group.problems.each do |problem|
                %tr
                  %td= problem.name
                  %td= problem.full_name
                  %td= problem.full_score
                  %td= link_to 'Remove', remove_problem_group_path(@group,problem), :method => :delete, :data => { :confirm => "Remove #{problem.full_name}?" }, class: 'btn btn-danger btn-sm'


