%h1 Editing Group members and problems
.row
  .col-md-4
    .card
      .card-body
        %h4 Group details
        .row.mb-3
          .col-md-12
            %b Name:
            = @group.name
        .row.mb-3
          .col-md-12
            %b Description:
            = @group.description
        .row.mb-3
          .col-md-6
            = link_to 'Edit', edit_group_path(@group), class: 'btn btn-primary'
            = link_to 'Back', groups_path, class: 'btn btn-outline-secondary mx-2'
  .col-md-8
    = render partial: 'group_help'

.row.mb-3
  .col-md-12
.row
  .col-md-6
    .card
      .card-header
        Users of this group

      .card-body
        %ul
          %li
            If you want to add several users to a group, it may be easier to just re-import those users in 
            = link_to 'New list of users', new_list_user_admin_index_path
            page. You can also use 
            = link_to 'Bulk Manage User', bulk_manage_user_admin_index_path
            page.
        =form_tag add_user_group_path(@group), class: 'form-inline' do
          .row
            .col-auto
              =label_tag :user_id, "User", class: 'col-form-label'
            .col-auto
              =select_tag :user_id, options_from_collection_for_select(User.all,'id','login_with_name'), class: 'select2', style: 'width: 25em';
            .col-auto
              =submit_tag "Add",class: 'btn btn-primary'


        %table.table.datatable.table-hover
          %thead
            %tr
              %th Login
              %th Full name
              %th Remark
              %th= link_to 'Remove All', remove_all_user_group_path(@group), method: :delete, :data => { :confirm => "Remove ALL USERS from group?" }, class: 'btn btn-danger btn-sm'

          %tbody
            - @group.users.each do |user|
              %tr
                %td= user.login
                %td= user.full_name
                %td= user.remark
                %td= link_to 'Remove', remove_user_group_path(@group,user), :method => :delete, :data => { :confirm => "Remove #{user.full_name}?" }, class: 'btn btn-danger btn-sm'
  .col-md-6
    .card
      .card-header
        Problems of this group
      .card-body
        %ul
          %li
            If you want to add several problem to a group, it may be easier to bulk manage them in the
            = link_to 'Bulk Manage Problems', manage_problems_path
            page
        =form_tag add_problem_group_path(@group) do
          .row
            .col-auto
              =label_tag :problem_id, "Problem",class: 'col-form-label'
            .col-auto
              =select_tag :problem_id, options_from_collection_for_select(Problem.all,'id','long_name'), class: 'select2', style: 'width: 25em';
            .col-auto
              =submit_tag "Add",class: 'btn btn-primary'
        %table.table.datatable.table-hover
          %thead
            %tr
              %th name
              %th Full name
              %th #Dataset
              %th= link_to 'Remove All', remove_all_problem_group_path(@group), method: :delete, :data => { :confirm => "Remove ALL PROBLEMS from group?" }, class: 'btn btn-danger btn-sm'

          %tbody
            - @group.problems.each do |problem|
              %tr
                %td= problem.name
                %td= problem.full_name
                %td= problem.datasets.count
                %td= link_to 'Remove', remove_problem_group_path(@group,problem), :method => :delete, :data => { :confirm => "Remove #{problem.full_name}?" }, class: 'btn btn-danger btn-sm'

:javascript
  $(document).on('import-map-loaded',function(e) {
    $('.datatable').DataTable({destroy: true, paging: false})
  });
