- modal_id = local_assigns.fetch(:modal_id, 'msg_modal')
- modal_header = local_assigns.fetch(:modal_header, 'Message')
- modal_body = local_assigns.fetch(:modal_body, 'Body Placeholder')
:plain
  $('##{modal_id} .modal-header h4').html("#{j modal_header}")
  $('##{modal_id} .modal-body pre').html("#{j modal_body}")
  $('##{modal_id}').modal('show')
