.card.border-primary
  .card-header.text-bg-primary.border-primary
    Problems
  .card-body
    .form-check.mt-2.mb-3
      = radio_button_tag :problems, :all, false, class: 'form-check-input'
      = label_tag :problems_all, 'All problems'
    .form-check.my-2
      = radio_button_tag :problems, :enabled, false, class: 'form-check-input'
      = label_tag :problems_enabled, 'Only available problems'
    .row.row-cols-lg-auto.align-items-center
      .col-12
        .form-check.form-check-inline
          = radio_button_tag :problems, :selected, true, class: 'form-check-input'
          = label_tag :problems_selected, 'Only selected problems'
      .col-12
        = select_tag 'problem_id[]',
            options_for_select(Problem.all.collect {|p| ["[#{p.name}] #{p.full_name}", p.id]},params[:problem_id]),
            { id: :problem_id, class: 'select2 form-control', multiple: "true", style: "width: 20rem" }
