- limit_reached = problem.submission_limit_reached?(user)
- submissions_remaining = problem.submissions_remaining_for(user)
- if limit_reached
  -# Submission limit reached alert
  .alert.alert-danger.mb-3.d-flex.align-items-center.gap-2
    %span.mi{style: 'font-size: 1.5rem;'} block
    %div
      %strong Submission limit reached.
      You have used all #{problem.max_submissions} allowed submission#{'s' unless problem.max_submissions == 1} for this problem. You may still view your previous submissions.
- else
  -# Form for submit & Language select
  .alert.mb-3{class: (as_binary ? 'alert-warning' : 'alert-info')}
    .mb-2
      - if as_binary
        :markdown
          This problem accepts only a binary file upload, such as a `.zip` file. Please select the
          file using the **"Browse"** button and click **"submit."**
      - else
        - if language_forced
          Write your code in the box above and then click the **"Submit"** button to submit the code. This problem requires that the submission must be in 
          %strong= language.pretty_name
          only.
        - else
          :markdown
            Write your code in the box above, choose a language, and then click the **"Submit"** button to submit the code.
      - if problem.submission_limit?
        .text-muted.mt-1
          %span.mi{style: 'font-size: 0.9rem; vertical-align: middle;'} info
          = "#{submissions_remaining} submission#{'s' unless submissions_remaining == 1} remaining out of #{problem.max_submissions}."
    = form_with url: submit_main_path, :multipart => true, class: 'row row-cols-lg-auto g-3 align-items-center', data: {action: 'editor#submit'} do |form|
      = hidden_field_tag 'editor_text', '', data: {editor_target: 'submitSource'}
      = hidden_field_tag 'submission[problem_id]', problem.id
      .col-auto
        = form.label :language_id, 'Language'
      .col-auto
        - options = options_from_collection_for_select(Language.where(id: problem.get_permitted_lang_as_ids), 'id', 'pretty_name', language.id )
        = form.select :language_id, options, {},  class: 'form-select', data: {action: 'change->editor#setLanguage', editor_target: 'languageSelect'}, style: "width: 100px", id: 'language_id', disabled: language_forced
      .col-auto
        = form.file_field :file, class: 'form-control', id: 'load_file', data: {action: 'change->editor#loadFileToEditor'}
      .col-auto
        = submit_tag 'Submit', class: 'btn btn-success', id: 'live_submit', 
          data: {confirm: "Submitting this source code for task #{problem.long_name}?"}
