%h1= "Submission: #{@submission.id}"

%textarea#data{style: "display:none;"}
  :preserve
    #{@submission.source}

//%div.highlight{:style => "border: 1px solid black;"}
//=@formatted_code.html_safe


.containter
  .row
    .col-md-7
      %h2 Source Code
    .col-md-5
      %h2 Stat
  .row
    .col-md-7
      %div#editor{ style: "font-size: 14px; height: 400px; border-radius:5px;" }
      :javascript
        e = ace.edit("editor")
        e.setOptions({ maxLines: Infinity })
        e.setValue($("#data").text())
        e.gotoLine(1)
        e.getSession().setMode("#{get_ace_mode(@submission.language)}")
        e.setReadOnly(true)
    .col-md-5
      %table.table.table-striped
        %tr
          %td.text-right
            %strong User
          %td
            - if @current_user.admin? ||@current_user == @submission.user
              - if @submission.user
                = link_to "#{@submission.user.login}", stat_user_path(@submission.user)
                = @submission.user.full_name
              - else
                = "(n/a)"
            - else
              = '-- REDACTED --'
        %tr
          %td.text-right
            %strong Task
          %td
            - if @submission.problem!=nil
              = link_to "[#{@submission.problem.name}]", stat_problem_path(@submission.problem)
              = @submission.problem.full_name
              = link_to_description_if_any "[download] <span class='glyphicon glyphicon-file'></span>".html_safe, @submission.problem
            - else
              = "(n/a)"
        %tr
          %td.text-right
            %strong Tries
          %td= @submission.number
        %tr
          %td.text-right
            %strong Language
          %td= @submission.language.pretty_name
        %tr
          %td.text-right
            %strong Submitted
          %td #{time_ago_in_words(@submission.submitted_at)} ago (at #{@submission.submitted_at.to_formatted_s(:long)})
        %tr
          %td.text-right
            %strong Graded
          - if @submission.graded_at
            %td #{time_ago_in_words(@submission.graded_at)} ago (at #{@submission.graded_at.to_formatted_s(:long)})
          - else
            %td -
        %tr
          %td.text-right
            %strong Points
          %td #{@submission.points}/100
        %tr
          %td.text-right
            %strong Comment
          %td 
            %tt.grader-comment #{@submission.grader_comment}
        %tr
          %td.text-right
            %strong Runtime (s)
          %td #{(@submission.max_runtime || 0)/1000.to_d}
        %tr
          %td.text-right
            %strong Memory (kb)
          %td #{@submission.peak_memory}
        %tr
          %td.text-right
            %strong Compiler result
          %td
            %button.btn.btn-info.btn-sm{type: 'button', data: {bs: {toggle: 'modal', target: '#compiler'}}}
              View
        %tr
          %td.text-right
            %strong Grading Task Status
          %td
            = @task.status_str if @task
            - if @current_user.admin?
              = link_to "rejudge", rejudge_submission_path, data: {remote: true}, class: 'btn btn-info btn-sm'
        - if @current_user.has_role?('ta')
          %tr
            %td.text-right
              %strong IP
            %td #{@submission.ip_address}
          %tr
            %td.text-right
              %strong Model solution
            %td
              - if @submission.tag_model?
                YES
                - if @current_user.has_role?('ta')
                  = link_to "remove model status", set_tag_submission_path(@submission, tag: :default), class: 'btn btn-warning btn-sm'
              - else
                No
                - if @current_user.has_role?('ta')
                  = link_to "set as model solution", set_tag_submission_path(@submission, tag: :model), class: 'btn btn-success btn-sm'


= render partial: 'submissions/compiler_msg_modal', locals: {submission: @submission}
-#
  .modal.fade#compiler{tabindex: -1,role: 'dialog'}
    .modal-dialog.modal-lg{role:'document'}
      .modal-content
        .modal-header
          %h4 Compiler message
          %button.btn-close{type: 'button', 'data-bs': {dismiss: :modal}, aria: {label: 'Close'}}
        .modal-body
          %pre#compiler_msg= @submission.compiler_message
        .modal-footer
          %button.btn.btn-secondary{type: 'button', 'data-bs': {dismiss: 'modal'}} Close
