= simple_form_for @tag, wrapper: :horizontal_form do |f|
  = f.error_notification
  = f.input :name
  = f.input :description, input_html: {style: 'height: 7rem'}
  = f.input :public, wrapper: :horizontal_boolean
  = f.input :kind, label: 'Type', collection: Tag.kinds.keys.map { |key| [I18n.t("activerecord.attributes.tag.kinds.#{key}"), key] }, include_blank: false, wrapper: :horizontal_form
  = f.input :color, as: :color, input_html: {class: 'form-control-color'}
  -# kind specifc params
  - if @tag.kind == 'llm_prompt'
    = f.input :params, label: 'LLM Prompt', input_html: {style: 'height: 20rem'}
  = f.submit class: 'btn btn-primary'
