:css
  .hof_user { color: orangered; font-style: italic; }
  .hof_language { color: green; font-style: italic; }
  .hof_value { color: deeppink;font-style: italic; }
  .info_param { font-weight: bold;text-align: right; }
  .tooltip {
    font-family: Verdana,sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 1.0em;
    color: black;
    line-height: 1.1;
    display: none;
    min-width: 20em;
    position: absolute;
    left: 25px;
    bottom: 5px;
    border: 1px solid;
    padding: 5px;
    background-color: #FFF;
    word-wrap: break-word;
    z-index: 9999;
    overflow: auto;
  }


.row
  -# submission history graph
  .col-md-8
    .card.mb-3
      .card-body
        %h2.card-title Submission History
        %canvas#chart{height: '50px'}

  -# submission stat card
  .col-md-4
    .card.mb-3
      .card-body
        %h2.card-title General Info
        .row.my-2
          .col-sm-6.text-md-end.text-secondary
            Name
          .col-sm-6
            = render partial: 'problems/problem_name', locals: {problem: @problem}
            - if @current_user.admin?
              = link_to 'Edit', edit_problem_path(@problem)
              |
              = link_to 'Stat', stat_problem_path(@problem)
        .row.mb-2
          .col-sm-6.text-md-end.text-secondary
            Subs
          .col-sm-6
            = @summary[:count]
        .row.mb-2
          .col-sm-6.text-md-end.text-secondary
            Solved/Attempted User
          .col-sm-6
            #{@summary[:solve]}/#{@summary[:attempt]} (#{(@summary[:solve]*100.0/@summary[:attempt]).round(1)}%)
.row
  .col-md-4
    .card.mb-3
      .card-body
        %h2.card-title Model Submission
        %table.table.table-hover
          %thead
            %tr
              %th #Sub (lang)
              %th Author
          %tbody
            - @model_subs.each do |sub|
              %tr
                %td
                  = link_to "##{sub.id}", submission_path(sub)
                  = "(#{sub.language.pretty_name})"
                %td= sub.user.full_name
  .col-md-8
    - if @best
      .card.mb-3
        .card-body
          %h2.card-title Top Submissions
          %table.table.table-hover
            %thead
              %tr
                %th Language
                %th Best Runtime (ms)
                %th Best Memory (kB)
                %th Shortest Code (bytes)
                %th First Solver
            %tbody
              %tr.bg-warning
                %td
                  Overall
                %td
                  = link_to @best[:runtime][:user], stat_user_admin_path(@best[:runtime][:user_id])
                  %br
                  using
                  %span.text-success #{@best[:runtime][:lang]} 
                  %br
                  with
                  %span.text-success #{(@best[:runtime][:value]).to_i} ms
                  %br
                  = link_to "##{@best[:runtime][:sub_id].to_s}", submission_path(@best[:runtime][:sub_id])
                %td
                  = link_to @best[:memory][:user], stat_user_admin_path(@best[:memory][:user_id])
                  %br
                  using
                  %span.text-success #{@best[:memory][:lang]} 
                  %br
                  with
                  %span.text-success #{number_with_delimiter((@best[:memory][:value]).to_i)} kB
                  %br
                  = link_to "##{@best[:memory][:sub_id].to_s}", submission_path(@best[:memory][:sub_id])
                %td
                  #{link_to @best[:length][:user], stat_user_admin_path(@best[:length][:user_id])} 
                  %br
                  using
                  %span.text-success #{@best[:length][:lang]} 
                  %br
                  with
                  %span.text-success #{number_with_delimiter((@best[:length][:value]).to_i)} bytes
                  %br
                  = link_to "##{@best[:length][:sub_id].to_s}", submission_path(@best[:length][:sub_id])
                %td
                  - if @best[:first][:user] != '(NULL)'
                    #{link_to @best[:first][:user], stat_user_admin_path(@best[:first][:user_id])} is the first solver 
                    %br
                    using
                    %span.text-success #{@best[:first][:lang]} 
                    %br
                    on 
                    %span.text-success #{@best[:first][:value]}
                    %br
                    = link_to "##{@best[:first][:sub_id].to_s}", submission_path(@best[:first][:sub_id])
                  - else
                    no first solver
              - @by_lang.each do |lang,value|
                %tr
                  %td= lang
                  %td
                    = link_to value[:runtime][:user], stat_user_admin_path(value[:runtime][:user_id])
                    %br
                    = "#{(value[:runtime][:value]).to_i}"
                    %span.text-secondary ms
                    = link_to "(##{value[:runtime][:sub_id].to_s})", submission_path( value[:runtime][:sub_id])
                  %td
                    = link_to value[:memory][:user], stat_user_admin_path( value[:memory][:user_id])
                    %br
                    = "#{number_with_delimiter(value[:memory][:value])}"
                    %span.text-secondary kB
                    = link_to "(##{value[:memory][:sub_id].to_s})", submission_path(value[:memory][:sub_id])
                  %td
                    = link_to value[:length][:user], stat_user_admin_path(value[:length][:user_id])
                    %br
                    = "#{number_with_delimiter(value[:length][:value])}"
                    %span.text-secondary bytes
                    = link_to "##{value[:length][:sub_id].to_s}", submission_path(value[:length][:sub_id])
                  %td
                    - if value[:first][:user] != '(NULL)' #TODO: i know... this is wrong...
                      = link_to value[:first][:user], stat_user_admin_path(value[:first][:user_id])
                      %br
                      = "#{value[:first][:value]}"
                      = link_to "(##{value[:first][:sub_id].to_s})", submission_path( value[:first][:sub_id])

:javascript
  window.addEventListener("load", function() {
    data = #{@chart_dataset}
    config = {
      type: 'bar',
      data: data,
      options: { 
        plugins: {
          legend: {
            display: false
          },
        },
      }
    }
    Chart.defaults.font.size = 15
    //Chart.defaults.font.family = 'Sarabun Light'
    chart = new Chart($('#chart'),config)
  });

