.card.border-primary.mb-2
  .card-header.text-bg-primary.border-primary
    Users
  .card-body
    .form-check.mt-2.mb-3
      = radio_button_tag :'users[use]', :all, true, class: 'form-check-input'
      = label_tag :users_use_all, 'All Users'
    .form-check.my-2
      = radio_button_tag :'users[use]', :enabled, false, class: 'form-check-input'
      = label_tag :users_use_enabled, 'Only enabled users'
    .row.row-cols-lg-auto.align-items-center
      .col-12
        .form-check.form-check-inline
          = radio_button_tag :'users[use]', :group, false, class: 'form-check-input'
          = label_tag :users_use_group, 'Only users from this group'
      .col-12
        = select_tag "users[group_ids]", options_from_collection_for_select( Group.all.order('id DESC'), 'id','name',params[:group_id]), class: 'select2', style: 'width: 20em';
