.container-fluid
  %h1 Current Score
  = form_tag current_score_report_path, method: 'get' do
    .radio-inline
      = radio_button_tag 'users', 'all', (params[:users] == 'all')
      = label_tag(:users_all,'Show all users')
    %br
    .radio-inline
      = radio_button_tag 'users', 'group', (params[:users] == 'group')
      = label_tag(:users_group, 'Show only users from this group')
    = select_tag "group_id", options_from_collection_for_select( Group.all, 'id','name',params[:group_id]), id: 'group_name',class: 'select2', style: 'width: 20em';
    = submit_tag 'Apply',class: 'btn btn-default'

  %br
  = render "score_table"
