%h1 Maximum score

= form_with url: show_max_score_report_path, data: {turbo: true} do |f|
  .row
    .col-lg-4
      .card.border-primary.mb-2
        .card-header.text-bg-primary.border-primary
          Problems
        .card-body
          %p
            Select problem(s) that we wish to know the score.
          = label_tag :problem_id, "Problems"
          = select_tag 'problem_id[]',
              options_for_select(Problem.all.collect {|p| ["[#{p.name}] #{p.full_name}", p.id]},params[:problem_id]),
              { class: 'select2 form-control', multiple: "true" }
    .col-lg-4
      .card.border-primary.mb-2
        .card-header.text-bg-primary.border-primary
          Submission range
        .card-body
          %p
            Input minimum and maximum range of submission ID that should be included. A blank value for min and max means -1 and infinity, respectively.
          .form-group
            = label_tag :from, "Min"
            = text_field_tag 'from_id', @since_id, class: "form-control"
          .form-group
            = label_tag :from, "Max"
            = text_field_tag 'to_id', @until_id, class: "form-control"
    .col-lg-4
      = render partial: 'shared/user_select'
  .row
    .col-lg-1
      = button_tag 'Show', class: "btn btn-primary btn-large", value: "show"
    .col-lg-11
      %div
        %canvas#chart

.mt-3
  = turbo_frame_tag "max_score_result", data: {turbo: "true"}

