%h1 Best Score

= form_with url: show_max_score_report_path, data: {turbo: true} do |f|
  .row
    .col-lg-4
      .card.border-primary.mb-2
        .card-header.text-bg-primary.border-primary
          Problems
        .card-body
          %p
            Select problem(s) that we wish to know the score.
          .row.mb-2
            .col-1
              .form-check
                = radio_button_tag :'probs[use]', :prob_ids, true, class: 'form-check-input'
            .col-11
              = label_tag :probs_use_prob_ids, "Only these problems"
              = select_tag 'problem_id[]',
                  options_for_select(@problems.collect {|p| ["[#{p.name}] #{p.full_name}", p.id]},params[:problem_id]),
                  { class: 'select2 form-control', multiple: "true" }
          %hr
          .row.mb-2
            .col-1
              .form-check
                = radio_button_tag :'probs[use]', :prob_groups, false, class: 'form-check-input'
            .col-11
              = label_tag :probs_use_prob_groups, "Problems in these groups"
              = select_tag 'prob_group_id[]',
                  options_for_select(@groups.collect {|g| [g.name, g.id]},params[:prob_group_id]),
                  { class: 'select2 form-control', multiple: "true" }
          %hr
          .row.mb-2
            .col-1
              .form-check
                = radio_button_tag :'probs[use]', :prob_tags, false, class: 'form-check-input'
            .col-11
              = label_tag :probs_use_prob_tags, "Problems with these tags"
              = select_tag 'prob_tag_id[]',
                  options_for_select(Tag.all.collect {|t| [t.name, t.id]},params[:prob_tag_id]),
                  { class: 'select2 form-control', multiple: "true" }
      %input#show-time.form-check-input{type: 'checkbox', name: 'show-time'}
      %label.form-check-label{for: 'show-time'} Show time column
    .col-lg-4
      = render partial: 'submission_range'
    .col-lg-4
      = render partial: 'shared/user_select'
  .row
    .col-lg-1
      = button_tag 'Show', class: "btn btn-primary btn-large", value: "show"
    .col-lg-11
      %div
        %canvas#chart

.mt-3
  = turbo_frame_tag "max_score_result", data: {turbo: "true"}

