- if submission.nil?
  = "-"
- else
  - if local_assigns[:show_id]
    .row
      .col-3.fw-bold
        Sub ID
      .col-9.text-secondary-x= submission.id
  - unless submission.graded_at
    .row
      .col-3.fw-bold= t 'main.submitted_at'
      .col-9.text-secondary-x= format_full_time_ago(submission.submitted_at.localtime)
  - else
    .row
      .col-3.fw-bold= t 'main.graded_at'
      .col-9.text-secondary-x= format_full_time_ago(submission.graded_at.localtime)
    - if GraderConfiguration['ui.show_score']
      .row
        .col-3.fw-bold=t 'main.score'
        .col-9.text-secondary-x
          = (submission.points*100/submission.problem.full_score).to_i
          %tt.grader-comment
            = " [#{submission.grader_comment}]"
  - if local_assigns[:show_button]
    - if submission.graded_at
      - if GraderConfiguration.show_grading_result
        = link_to '[detailed result]', :action => 'result', :id => submission.id
      = link_to "#{t 'main.cmp_msg'}", compiler_msg_submission_path(submission), {popup: true,remote: true,class: 'btn btn-sm btn-info'}
    = link_to "#{t 'main.src_link'}",download_submission_path(submission), class: 'btn btn-sm btn-info'
    = link_to "#{t 'main.submissions_link'}", problem_submissions_path(submission.problem.id), class: 'btn btn-sm btn-info'
    - if GraderConfiguration.show_testcase
      = link_to "testcases", show_problem_testcases_path(submission.problem.id), class: 'btn btn-sm btn-info'

