
%tr
  %td{:align => "center"}
    = submission.number
  %td.text-right
    = link_to "##{submission.id}", submission_path(submission.id)
  %td
    = l submission.submitted_at, format: :long
    = "( #{time_ago_in_words(submission.submitted_at)} ago)"
  %td
    = submission.source_filename
    = " (#{submission.language.pretty_name}) "
    = link_to '[load]', download_submission_path(submission)
  %td
    = render 'submission_short', submission: submission, show_button: false, problem_id: submission&.problem&.id
  %td
    = render :partial => 'compiler_message', :locals => {:compiler_message => submission.compiler_message }
  %td
    = link_to 'Edit', edit_submission_path(submission.id), class: 'btn btn-success'
