<!DOCTYPE html>
%html
%head
  %title= GraderConfiguration['contest.name']
  = stylesheet_link_tag "application", params[:controller], :media => "all"
  = csrf_meta_tags
  = csp_meta_tag
  = javascript_include_tag :my_app
  -# = javascript_import_module_tag('prepend_jquery')
  = javascript_importmap_tags
  = content_for :header
  = yield :head
  %meta{name: :viewport, content: "width=device-width, initial-scale=1"}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
%body
  - unless local_assigns[:skip_header]
    = render 'layouts/header'

  /= content_tag(:p,flash[:notice],class: 'alert alert-success') if flash[:notice]!=nil
  #main-content.container-fluid
    - flash.each do |msg_type, message|
      .alert.alert-dismissible.my-2.fade.show{class: bootstrap_class_for(msg_type)}
        = message
        %button.btn-close{type: 'button', 'data-bs-dismiss': :alert}
    = yield

  -# for toast
  = turbo_frame_tag :toast_main, data: {turbo: true} do
    #toast-area.toast-container.position-fixed.top-0.end-0.p-3
      / place holder
